* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*background*/
body {
    background-color: rgb(32, 68, 32);
    background: url(background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*center everything on page*/
.container {
    text-align: center;
    display: block;
    width: 75%;
    margin: auto;
    background-color: none;
  }

/*float and wrap text around images*/
img {
    max-width: 20%;
    max-height: 20%;
    float: left;
    padding: 5px;
    margin: 10px;
}

p {
    text-align: left;
    padding-top: 10px;
}

/*navigation bar*/
ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 5px 30px 5px 30px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

a:hover, a:focus, a:active {
    color: rgb(176, 231, 227);
    text-decoration: none;
}

a:after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    background: rgb(176, 231, 227);
    transition: 500ms;
}

a:hover:after, a:focus:after, a:active:after{
    width: 100%;
}