.form-group, .form-control {
  text-align: left;
}

textarea[id="message"] {
  height: 100px;
}

button[type="submit"], button[type="reset"] {
    width: 49%;
}

button[type="submit"] {
  background-color:rgb(35, 54, 43);
  border-color: black;
}

/*width of form*/
#contact {
  max-width: 50%;
}

@media (max-width: 768px) {
  #contact {
    width: 80%;
    max-width: 95%;
  }
}
  
@media (max-width: 476px) {
  #contact {
    width: 90%;
    max-width: 95%;
  }

  button[type="submit"], button[type="reset"] {
    width: 100%;
  }
}