p {
    text-align: left;
    padding-top: 10px;
    width: 100%;
}

img {
    width: 50%;
    height: auto;
    border: 1px solid #ddd;
}

.card {
  display: flex;
  flex-flow: column wrap;
  word-wrap: break-word;
  background-color: black;
  padding: 30px;
  max-width: 50%;
}

/*media queries for different screen sizes*/
@media (max-width: 768px) {
  .card {
    width: 80%;
    max-width: 100%;
  }
}
    
@media (max-width: 476px) {
  .card {
    width: 90%;
    max-width: 100%;
  }
}
